body {
    padding: 0 15px 0;
    font-family: Baskerville;
}

body h1, h2, h3, h4, h5, h6 { font-family: 'Helvetica Neue' }

body img {
    max-width: 100%;
}

body pre {
    white-space: pre-wrap;
}